 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
 <div class="user">
     <div class="tech">
         <h2>CyberSecurity</h2>
         <i class="devicon-amazonwebservices-original"></i>
         <i class="devicon-java-plain colored"></i>
         <i class="devicon-visualstudio-plain"></i>
         <p>
             Currently Certified in Comptia Security+ as of May of 2020
             I really Love working with Html it is really fun to write in
             Please go onto a new Line im beging you
         </p>
     </div>
 </div>
