 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
 <div class="user">
     <div class="tech">
         <h2>Security</h2>
         <i class="devicon-amazonwebservices-original"></i>
         <i class="devicon-java-plain colored"></i>
         <i class="devicon-visualstudio-plain"></i>
         <p>I currently hold a CompTIA Security+ certification as of May 2020.</p>
     </div>
    <div class="tech">
        <h2>SysAdmin</h2>
        <i class="devicon-amazonwebservices-original"></i>
        <i class="devicon-java-plain colored"></i>
        <i class="devicon-visualstudio-plain"></i>
        <p>I own and operate my own game server for my friends and I to play games on</p>
        <p>In addition to game servers I am also in the process of setting my own NAS on an old HP proliant Server</p>
    </div>
</div>
